.movieDetails {
  border: solid 2rem maroon;
  display: flex;
}

.movieDetails__img {
  width: 70%;
}

.movieDetails__block {
  background-color: grey;
  width: 30%;
  padding: 2rem;
  position: relative;
}

.movieDetails__btn {
  border: 0;
  border-radius: 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}