.moviesContainer {
  border: maroon solid 2rem;
  background-color: #202124;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

@media screen and (max-width: 612px) {
  .moviesContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;

  }
}