@import '../../variables.scss';

.moviesContainer {
  border: $redAccent solid 2rem;
  border-width: 0 2rem 2rem 2rem;
  background-color: $darkGrey;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

@media screen and (max-width: 612px) {
  .moviesContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;

  }
}