@font-face {
  font-family: 'showTime';
  src: url('../../fonts/showtime-font/Showtime-R9Ke.ttf') format('truetype');
}


header{
  background-image: url('./manos-gkikas-pPA5ActWLLI-unsplash.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: 'showTime', sans-serif;
  font-size: 4rem;
  color: gold; 
}

@media screen and (max-width: 612px) {
  header {
    height: 5rem;
  }
  h1{
    font-size: 1.5rem;
  }
}