@import '../../variables.scss';

@font-face {
  font-family: 'upperEastSide';
  src: url('../../fonts/upperEastSide/UpperEastSide.ttf') format('truetype');
}

.error-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;  height: 100vh;
  position: relative;
  background-color: $darkGrey;
  padding: 5rem;
}

.exit-error-btn {
  @include errorCornerButton;
}

.error-wrapper{
  margin: 0px;
  background-color: $darkGrey;
}

p{
  font-family: 'upperEastSide', sans-serif;
  font-size: 4rem;
  color: white;
}