@font-face {
  font-family: 'upperEastSide';
  src: url('../../fonts/upperEastSide/UpperEastSide.ttf') format('truetype');
}

.error-page-wrapper{
  margin: 0px;
  height: 60vh;
  border: maroon solid 2rem;
  background-color: grey; 
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-family: 'upperEastSide', sans-serif;
  font-size: 4rem;
}