@font-face {
  font-family: 'upperEastSide';
  src: url('../../fonts/upperEastSide/UpperEastSide.ttf') format('truetype');
}

.error-page-wrapper {
  background-color: #202124;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;  height: 100vh;
  position: relative;
}

.exit-error-btn {
  top: 5%;
  right: 5%;
  position: absolute;
}

.error-wrapper{
  margin: 0px;
  background-color: #202124;
}

p{
  font-family: 'upperEastSide', sans-serif;
  font-size: 4rem;
  color: white;
}