$darkGrey: #282c34;
$redAccent: maroon;
$goldAccent: gold;
$lightGrey: grey;

@mixin cornerButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

@mixin errorCornerButton {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}